@import url("style.css");
@import url("layout.css");

body {
  background: #7E8C92;
}

address.footer {
  margin: 0 0 20px;
  padding: 20px 50px 0;
}

.header {
  clear: left;
  background: #fff;
  margin: 20px 50px 0; 
  padding: 40px 50px 20px;
  background: #EEF3F5;
  border-bottom: 1px solid #A9C0CA;
  -webkit-box-shadow: 0px 0px 20px #4C6069;
}

.header h1 {
  margin: 0;
  color :#526974;
}

.contents {
  background: #fff;
  margin: 0 50px;
  padding: 20px 50px 50px;
  -webkit-box-shadow: 0px 10px 20px #4C6069;
}

hr.footer {
  display: none;
}

address.footer {
  text-align: center;
  font-style: normal;
  color: #fff;
  font-weight: bold;
}

img.footer {
  vertical-align: middle;
  height: 24px;
}

h2 {
  margin-top: 15px;
}

/* tab bar */

.tabs {
  font-size: 12px;
  margin-bottom: 5px;
  background: #F3F5F5;
  padding: 10px 20px;
  text-transform: uppercase;
}

.tabs2 {
  font-size: 12px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tabs2 .tablist a {
  color: #fff;
}

.tablist {
  list-style: none;
  clear: both;
  margin: 0; padding: 0;
  height: 12px;
}

.tablist li {
  float: left;
  margin-right: 15px;
}

.tablist a {
  text-decoration: none;
  font-weight: normal;
}

.tablist li.current a {
  font-weight: bold;
}

#MSearchBox {
  top: 8px;
}

/* header */

.header .summary {
  margin-bottom: 20px;
  font-size: 12px;
  float: right;
  text-align: right;
}

/* contents */

table {
  margin-top: 15px;
}

table.memberdecls {
  margin: 0 0 20px;
}

table.memberdecls h2 {
  margin: 10px 0 15px;
}

td.memItemLeft, td.memItemRight {
  font-family: "Menlo", "Consolas", "Monaco", monospace;
  font-size: 12px;
}

.memitem {
  background: #F3EDE1;
  border-radius: 8px;
  padding: 20px 20px 10px;
  margin: 0 0 20px;
}

table.memname {
  margin: 0 0 20px;
  font-size: 14px;
  font-family: "Menlo", "Consolas", "Monaco", monospace;
}

td.paramkey,
td.memname {
  text-align: right;
  font-weight: bold;
}

.memdoc {
  font-size: 14px;
}

.memdoc p {
  font-size: 14px;
}

.memdoc dl {
  margin: 0 0 15px;
}

.memdoc dl table {
  margin: 5px 0 0;
}

.memdoc dl em {
  font-family: "Menlo", "Consolas", "Monaco", monospace;
  font-style: normal;
}

.memdoc dl td {
  padding-right: 10px;
}

ul {
  margin: 15px 0 20px 30px;
}