body {
  border-top: 10px solid #00B8BE;
}

#container {
  width: 600px;
  margin:  50px auto;
  padding: 50px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notice {
  text-align: center;
  font-size: 12px;
  color: #CA231E;
  margin: 20px 0;
  font-weight: bold;
}

header {
  font-family: "droid-serif-1", "droid-serif-2", 'Helvetiva Neue', Helvetica, Arial, sans-serif;;
  margin-bottom: 50px;
  text-align: center;
}

header .name {
  font-size: 50px;
  font-weight: bold;
}

header .tagline {
  font-size: 24px;
  font-weight: normal;
  color: #00B8BE;
}

footer {
  margin-top: 60px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #666;
}

#navigation {
  list-style: none;
  margin: 30px 0; padding: 0;
  text-align: center;
}

#navigation li {
  display: inline;
  margin: 0 8px;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

h2 {
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 15px;
}

p code {
  background: #F3EDE1;
  font-size: 90%;
  font-weight: bold;
  vertical-align: top;
}

p img {
  display: block;
  position: relative;
  width: 600px;
}

pre, pre code {
  margin: 20px 0;
  font-family: Menlo, Consolas, Monaco, sans-serif;
  font-size: 12px;
  white-space: pre;
  background: #F3EDE1;
  border-radius: 8px;
}

pre {
  padding: 20px;
  width: 600px;
  position: relative;
  left: -20px;
}

.download {
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  background: #DEF6F7;
  padding: 20px;
  width: 600px;
  position: relative;
  left: -20px;
}

.download p {
  margin: 0 0 5px;
}

.download .license {
  font-size: 14px;
  margin-top: 5px;
}

/* github ribbon code courtesy of
 * http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/
 */

.ribbon {
  background-color: #222;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #555;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}